<h2>
  Callcenter manager
</h2>
<button *ngIf="!isStressTesting" (click)="startStressTest()">Start testing your reps</button>
<button *ngIf="isStressTesting" (click)="stopStressTest()">Stop testing your reps</button>
<div class="list-container">
  <h2>Representatives</h2>
  <ul *ngIf="representatives">
    <li *ngFor="let rep of representatives">
      <a [routerLink]="['/representative', rep.name]"> {{rep.name}} </a>
      <span *ngIf="rep.onCall">
      On call with <a [routerLink]="['/caller', rep.onCall.caller.name, rep.onCall.caller.number]"> {{rep.onCall.caller.name}}
      </a>
      Since {{rep.onCall.callStart}}
    </span>
    </li>
  </ul>
</div>

<div class="list-container">
  <h2>Callers queue</h2>
  <ul *ngIf="queue">
    <li *ngFor="let caller of queue">
      <a [routerLink]="['/caller', caller.name, caller.number]">{{caller.name}}</a>
      Waiting since {{caller.waitingSince}}
    </li>
  </ul>
</div>
